<button type="submit" routerLink="crear" class="btn btn-success">Nuevo</button>
<div class="card">

    <div>
      <input type="text" name="" id="">
       <button>Buscar</button>
    </div>

</div>
  <table id="example" class="table table-striped" style="width:100%">
    <thead>
    <tr>
      <th>Codigo</th>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Barrio</th>
      <th>Direccion</th>
      <th>email</th>
      <th>Telefono</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.documento}}</td>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.ciudad}}</td>
      <td>{{cliente.barrio}}</td>
      <td>{{cliente.direccion}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.telefono}}</td>
      <td>
        <a href="" routerLink="/clientes/editar/{{cliente.id}}">Editar</a>
        <a href="">Eliminar</a>
      </td>
    </tr>




    </tbody>
    <tfoot>
    <tr>
      <th>Codigo</th>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Barrio</th>
      <th>Direccion</th>
      <th>email</th>
      <th>Telefono</th>
    </tr>
    </tfoot>
  </table>









